table {
	border-collapse: collapse;
    border: 0px;
}
tr:nth-child(odd) {
    background: lightgray;
    
}

td { 
	text-align: center;

}


tr:nth-child(even) {
    background: darkgray;
}